<div class = "container">
  <div class = "login-form" [formGroup]="formLogin">
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput type="text" placeholder="Nombre de usuario" formControlName="username">
      <mat-error *ngIf="formLogin.get('username')?.errors?.email && !formLogin.get('username')?.errors?.required">Ingresa email valido</mat-error>
      <mat-error *ngIf="formLogin.get('username')?.errors?.required">El email es requerido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="Ingresa tu contraseña" formControlName="password">
      <mat-error *ngIf="formLogin.get('password')?.errors?.minlength && !formLogin.get('password')?.errors?.required">La longitud minima de la contraseña es de 3 caracteres</mat-error>
      <mat-error *ngIf="formLogin.get('password')?.errors?.required">La contraseña es requerida</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)= "login()" [disabled]="formLogin.invalid || disableButton">Ingresar</button>
  </div>
</div>
